* {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body{
  
    
  
    padding: 10px 30px;
 
   
}

header img{
    width: 100%;
    max-width: 600px;
}


main{
    padding: 0 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

.text_principal_news p{
    font-size: 16px;
    font-weight: 600;
    color: #9b9393e5;
 
    max-width: 500px;
}

.text_principal_news > div{
    margin-top: 10px;
    margin-bottom:24px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.text_principal_news > div > span{
    font-style: italic;
    color: #9b9393e5;
    font-size: small;
}

.text_span span{
    font-style: italic;
    color: #9b9393e5;
    font-size: small;
}

.section_card{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    max-width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:5px;
}
#card{
    width: 250px;
    height: 190px;
}

footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.img_responsive{
    width: 100%;
     
}

@media (max-width:660px){
    
}